// Custom styles.

.cv-pdf-icon {
    width: 20px !important;
    height: 23px !important;
    display: inline-block !important;
    position: absolute !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}

.uni-shield-icon {
    width: 20px !important;
    height: 20px !important;
    display: inline-block !important;
    position: absolute !important;
    margin: 3px 0 0 0 !important;
    border: 0 !important;
    padding: 0 !important;
}

.gh-md-emoji-icon {
    width: 22px !important;
    height: 22px !important;
    display: inline-block !important;
    position: absolute !important;
    margin: 3px 0 0 3px !important;
    border: 0 !important;
    padding: 0 !important;
}

.citation-author-text {
    display: block;
    width: 100%;
    text-align: right;
    font-weight: bold;
    margin-top: -20px;
}